@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-brand-grey-900: hsl(187, 24%, 22%);
  --color-brand-grey-500: hsl(186, 15%, 59%);
  --color-brand-green-600: hsl(169, 82%, 27%);
  --color-brand-green-900: hsl(169, 95%, 16%);
  --color-brand-green-200: hsl(148, 38%, 91%);
  --color-brand-alert: hsl(0, 66%, 54%);
  --font-karla: 'Karla', sans-serif;
  --text-heading: 2rem;
}

body {
  @apply bg-brand-green-200;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: var(--color-brand-grey-900) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* input[type="checkbox"]:checked {
  background-color: var(--color-brand-green-600);
  border-color: var(--color-brand-green-600);
} */

input[type="checkbox"]::before {
  content: "";
  width: 0.85em;
  height: 0.85em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
