@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import 'tailwindcss';

@theme {
  --color-brand-grey-900: #2a4144;
  --color-brand-grey-500: #86a2a5;
  --color-brand-green-600: #0c7d69;
  --color-brand-green-200: #e0f1e8;
  /* red-500 */
  --clr-brand-alert: #d73c3c;
  --font-karla: "Karla", sans-serif;
  --text-heading: 2rem;
}

body {
  @apply bg-brand-green-200;
}